html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	margin: 0;
}

.element-container {
	position: fixed;
	/* box-shadow: var(--bs-box-shadow-lg); */
	/* border-radius: var(--bs-border-radius-lg); */
	/* border: var(--bs-border-width) var(--bs-border-style) var(--bs-secondary-border-subtle); */
	/* padding: 1rem; */
}

.alert {
	margin-top: 56px;
}

.form-container {
	width: 500px;
	margin: 1.5rem;
}

.form-control {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.timetable-wrapper {
	max-height: 30vh;
	scrollbar-width: none;
}

.fs-7 {
	font-size: 0.8rem;
}

#timer {
	font-family: monospace;
}
