html,
body {
	height: 100%;
}

p {
	line-height: 0.5;
}

.form-control {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.timetable-wrapper {
	max-height: 30vh;
	scrollbar-width: none;
}

#timer {
	font-family: monospace;
}
