{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center vw-100 vh-100 position-fixed" id="timer-background">
		<h2 id="timer" class="position-fixed z-1">0.000</h2>
		<div class="position-absolute z-0 w-100 h-100 bg-body fade" id="fading-bg"></div>
	</div>

	<div class="element-container bottom-0 start-0 m-3">
		<p>best: <strong id="best-text">--</strong></p>
		<p>ao5: <strong id="ao5-text">--</strong></p>
		<p>ao12: <strong id="ao12-text">--</strong></p>
	</div>

	<div class="element-container bottom-0 end-0 m-3 overflow-auto timetable-wrapper">
		<table class="table table-sm table-hover">
			<thead class="sticky-top">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Time</th>
				</tr>
			</thead>

			<tbody id="time-table-body">
				<tr>
				</tr>
			</tbody>
		</table>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="time-info-modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h1 class="time-heading">1.00</h1>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="delete-time-btn"data-bs-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>



	<script src="static/timer.js"></script>
{% endblock %}
