{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center vw-100 vh-100 bg-body position-fixed" id="timer-background">
		<h2 id="timer">00.000</h2>
	</div>

	<div class="position-fixed bottom-0 start-0 m-3">
		<p>best: <strong id="best-text">--</strong></p>
		<p>ao5: <strong id="ao5-text">--</strong></p>
		<p>ao12: <strong id="ao12-text">--</strong></p>
	</div>

	<div class="position-fixed bottom-0 end-0 m-3 overflow-auto timetable-wrapper">
		<table class="table table-sm">
			<thead class="sticky-top">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Time</th>
				</tr>
			</thead>

			<tbody id="time-table-body">
				<tr></tr>
			</tbody>
		</table>
	</div>


	<script src="static/timer.js"></script>
{% endblock %}
